#autoconfigWizard * {
  font-family: sans-serif;
}

#autoconfigWizard {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  width: 640px;
  height: 480px;
}

#autoconfigWizard,
#mastervbox {
  background-image: url('chrome://getanaccount/skin/bg.png');
  background-repeat: no-repeat;
}

#initialSettings { margin: 0; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border:0 none;
  outline: none;
}

button {
  -moz-appearance: none;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75) inset;
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #EEEEEE 50%, #E1E1E1 50%, #E1E1E1 100%);
  border-color: #AAAAAA #AAAAAA #888888;
  border-style: solid;
  border-width: 1px;
  color: #222222;
  cursor: pointer;
  font-weight: bold;
  font: 1em sans-serif;
  padding: 0 10px;
  height: 32px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  white-space: nowrap;
}

button:hover {
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #fafafa 50%, #eee 50%, #eee 100%);
}

button:active {
  background-image: -moz-linear-gradient(center top , #ddd 0%, #ddd 100%);
}

.groupbox-body {
  -moz-appearance: none;
  padding: 10px;
}

#initialSettings > .groupbox-body,
#mastervbox > vbox {
  -moz-appearance: none;
  background-color: rgba(255,255,255,0.6);
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.75) inset;
  margin: 0 0 10px 0;
}

#autoconfigWizard textbox {
    -moz-appearance: none;
}

#autoconfigWizard textbox,
#autoconfigWizard menulist {
  padding: 4px;
  border: 1px solid #aaa;
  -moz-border-top-colors: #AAAAAA #AAAAAA #888888;
  -moz-border-right-colors: #AAAAAA #AAAAAA #888888;
  -moz-border-bottom-colors: #AAAAAA #AAAAAA #888888;
  -moz-border-left-colors: #AAAAAA #AAAAAA #888888;
  -moz-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.25) inset;
  -moz-border-radius: 0;
}

#autoconfigWizard textbox[disabled="true"]
#autoconfigWizard textbox[disabled="true"] input,
#autoconfigWizard menulist[disabled="true"],
#autoconfigWizard menulist[disabled="true"] input {
  -moz-appearance: none;
  background-color: rgb(236, 236, 236);
}

#back_button,
#stop_button, #edit_button, #go_button {
  -moz-border-radius: 12px;
  border-color: #AAAAAA #AAAAAA #888888;
  border-style: solid;
  border-width: 1px;
  color: #222222;
  padding: 4px;
  height: auto;
}

#create_button { font-weight: bold; }
